.tableLetter {
    /* border: solid 2px; */
    border: 2px 2px 1px 1px solid #000;
    /* margin-top: 20px; */
    padding: 30px 0 50px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letterName {
    font-size: 40px;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white !important;
    z-index: 99;
}