.CreateLetter {
    padding: 30px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.title {
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 10px 10px 0 0;
    color: white;
}

.title h4 {
    margin: 0 !important;
    text-align: center;
}

.letterPreview {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    min-height: 297mm;
    min-width: 210mm;

    margin: -100px;
    margin-top: -140px;

    /* margin-top: -30px; */
    max-height: 1200px;
    overflow: auto;
}

.inputLetter,
.inputRevisi {
    width: 100%;
    max-height: 1075px;
    overflow-y: auto;
}

.btnApprove {
    border: none !important;
}

.btnApprove:hover {
    background-color: #37af77 !important;
}

.btnApprove:active {
    background-color: #0b6e40 !important;
}

/* list */
.card_list_revisi {
    /* margin-top: 20px; */
    background-color: white !important;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.card_list_revisi .title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}