.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 10px 10px 0 0;
    color: white;
}

.title h4 {
    margin: 0 !important;
    text-align: center;
}

.btnAdd {
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0 8px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    /* color: white; */
    /* height: 20px; */
}

.formInputRevisi {
    padding: 10px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.btn_Wrapper {
    display: flex;
    justify-content: end;
}

.btnSubmit {
    border: none !important;
    width: 100px;
}

.btnSubmit:hover {
    background-color: rgb(223, 96, 108) !important;
}

.btnSubmit:active {
    background-color: rgb(221, 57, 74) !important;
}

.term_revisi {
    font-size: 12px;
    color: #9D9D9D;
    padding: 10px 20px;
    background-color: white;
    margin: 0;
}